@font-face {
  font-family: 'Bold';
  src: local("Oswald-Bold"), url("fonts/Oswald-Bold.ttf"), format("truetype");
}

@font-face {
  font-family: 'Light';
  src: local("Oswald-Light"), url("fonts/Oswald-Light.ttf"), format("truetype");
}

@font-face {
  font-family: 'Medium';
  src: local("Oswald-Medium"), url("fonts/Oswald-Medium.ttf"), format("truetype");
}

@font-face {
  font-family: 'Regular';
  src: local("Oswald-Regular"), url("fonts/Oswald-Regular.ttf"), format("truetype");
}

